//提供项目全局变量
//如主题颜色、层级

//左侧菜单的宽度
$base-menu-width:260px;
//左侧菜单的背景颜色
$base-menu-background:#001529;
$base-menu-min-width:50px;

//顶部导航的高度
$base-tabbar-height:50px;

//滚动条样式
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: $base-menu-background;
}

::-webkit-slider-thumb{
    width: 10ox;
    background-color: yellowgreen;
    border-radius: 10px;
}

//左侧菜单logo高度设置
$base-menu-logo-height:50px;
//左侧菜单logo右侧文字大小
$base-logo-title-fontSize:20px;